*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

ul{
    text-align: center;
}

.colName{
    color: white;
    background-color: black;
    line-height: 2rem
}

li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: lightgoldenrodyellow;
}

.space-m{
    border: none;
    height: 1.5rem;
}